#productTable {
    border-collapse: collapse; 
    border: 1px solid black; /* Add border to the table */
    display: none;  
}
    
#productTable th, #productTable td {
    border: 1px solid rgb(0, 0, 0); /* Add borders to table cells */
    padding: 8px; /* Add padding inside cells for spacing */
}
    
#productTable th {
    background-color: #f2f2f2; /* Add background color to header cells */
}
    
#productTable tbody tr:last-child td {
    border-bottom: none; /* Remove bottom border from last row */
}
  
#add-row-button {
    float: right;
    margin-right: 100px; /* Adjust this value as needed */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2em;
}
  
#header1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
    
#productTable th {
    text-transform: none;
}
  
#productForm label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35em;
}
  
#PreviewButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2em;
}

#add-row-button, #PreviewButton {
    display: block;
}
  
#productTable:visible ~ #add-row-button, #productTable:visible ~ #PreviewButton {
    display: block;
}

#previewForm {
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
    display: none;
    padding: 20px;
    background-color:  #f2f2f2;
    margin-bottom: 5em;
}

#ConfigSaveButton{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    margin-left: 41em;
    margin-bottom: 10em;
}

a.logout-button {
  padding: 10px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color:  #f2f2f2;
  color: #da0d0d;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#view-entries {
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color:  #f2f2f2;
    color: #da0d0d;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: auto;
    left:10px;
    cursor: pointer;
  }
  