{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Product</title>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'css/addproduct.css'%}">
</head>
<body>
<h1>Add your Product</h1>
<a id="schemaList" href="{% url 'schemalist' %}" target="_blank"> View Schemas</a> <br>
<form id="save"  method="post">
<!-- <input type="text" id="itemName" name="itemName" placeholder="Enter name of product" required> -->
<p id="p1">
    Select properties for your product
</p>
    <div id="previewForm" class="form-container"></div>
    {% csrf_token %}
<button id="saveButton">Save Product</button>
</form><br><br>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script  src="{% static 'js/underscore.js' %}"></script>
<script  src="{% static 'js/jsv.js' %}"></script>
<script  src="{% static 'js/jsonform.js' %}"></script>
<script  src="{% static 'js/addproduct.js' %}"></script>
</body>
</html>

