{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Generate New Password</title>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="{% static 'css/indexpage.css'%}">
</head>
<body>
    <div class="form-container",id="newpassword">
        <h2>Generate New Password:</h2><hr><br>           
        <form method="post" id="newpassword-form" >
            {% csrf_token %}
            <input type="email" id="email" name="email" placeholder="Email" required><br>
            <input type="password" id="password" name="password" placeholder="Enter your new password" required><br>
            <input type="password" id="confirmPassword" name="newpassword" placeholder="Re-Enter your new password" required>
            <input type="submit" id="submit-button"/>
        </form>
        <div class="form-footer">
            <a href="{% url 'loginpage' %}">Back to Login Page</a> 
        </div>
    </div>
<script src="{% static 'js/indexpage.js' %}"></script>
</body>
</html>