{% load static %}

<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title >product schema</title>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'css/product_schema.css' %}">
<style>
    #productTable {
        display: none;
    }
</style>
</head>

<body>
    <script>
        let product_schema={{schema|safe}};
    </script>
<header>
    <a id="logout-button" class="logout-button" href="{% url 'logout' %}">Log out</a>
    <h1 id="header1">ADD SCHEMAS</h1>
    <a id="view-entries" href="{% url 'CRUDview' %}" target="_blank">View Entries</a>
</header>
<form id="name" autocomplete="off" spellcheck="false">
    {% csrf_token %}
    <label for="productName">Schema Name :</label>
    <input type="text" id="productName" name="productName" value="{{product.productName}}">
    <br><br>
</form>    
<form autocomplete="off" spellcheck="false">
<table id="productTable">
    <thead>
        <tr>
            <br>
            <th id="fieldname" style="width:10%">Field Name</th>
            <th id="type" style="width:10%">Data Type</th>
            <th id="lenght" input type="number" style="width:10%">Length</th>
            <th id="required" input type="checkbox" style="width:5%"> is Required</th>
            <th id="enum"  style="width:25%">Look Up</th>
            <th id="css" style="width:20%">CSS</th>
            <th id="note" style="width:20%">Note</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>

<button type="button" onclick="previewform()" id="PreviewButton">Preview</button>
<button type="button" id="add-row-button" >Add Row</button>
<div id="previewForm" class="form-container"></div>
</form>
<form id="productForm" method="post" onsubmit="return false;">
<button type="submit" id="ConfigSaveButton" style="display: none;"> Config Save</button>
</form>

<form id="updateForm" method="post" onsubmit="return false">
<button type="submit" id="ConfigUpdateButton" style="display: none;"> Config Update</button>
</form>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script  src="{% static 'js/underscore.js' %}"></script>
<script  src="{% static 'js/jsv.js' %}"></script>
<script  src="{% static 'js/jsonform.js' %}"></script>
<script src="{% static 'js/product_schema.js' %}"></script>
</body>
</html>

