{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Schema List</title>
<link rel="shortcut icon" href="#">
<link href="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/datatables.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">

<style>
#h{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#view-entries {
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color:  #f2f2f2;
    color: #da0d0d;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    left:auto;
    cursor: pointer;
  }
  
</style>

</head>
<body>
<h1 id="h1">Schema List</h1>
<a id="view-entries" href="{% url 'CRUDview' %}" target="_blank" style="text-decoration: none;">View Schema Entries</a>
<hr><br>

<table id="schemaList" class="display" width="auto">
    <thead>
        <tr>
            <th id="SrNo" style="width:10%">Sr No</th>
            <th id="ProductName" style="width:15%">Product Name</th>
            <th id="AddProduct" style="width:15%;">Add Product</th>
            <th id="ViewList" style="width: 15%;">View List</th>
        </tr>
    </thead>

</table>
{%csrf_token%}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function() {
    let table = $('#schemaList').DataTable({
        ajax:{
            type:"GET",
            datatype: 'json',
            url: '../productnames',
            dataSrc: "",
        },
        columns: [
        {data: 'pk', title: 'Sr No',
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
        {data: 'productName', title: 'Schema Name'},
        {data: null,
                className: 'dt-center editor-add',
                defaultContent: '<button class="add-btn"><i class="fa fa-plus"/></>',
                orderable: false
            },
        {data: null,
            className: 'dt-center editor-list',
            defaultContent: '<button class="list-btn"><i class="fa fa-eye"/></>',
            orderable: false
        },
        
        ],
        rowCallback: function (row, data) {
            $(row).data('product-id', data.pk); 
            $(row).data('product-name', data.productName); 

        }
    });

    //adding new product
    $('#schemaList').on('click', 'td.editor-add button', function (e) {
        let productID = $(this).closest('tr').data('product-id');
        window.open(`/addproduct/?id=${productID}`);
        
    });

    //view product list
    $('#schemaList').on('click', 'td.editor-list button', function (e) {
       window.open(`/viewlist/`,'_blank');
    });

});
</script>
</body>
</html>