<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product list</title>
<link rel="shortcut icon" href="#">
<link href="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/datatables.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
#schemaList {
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color:  #f2f2f2;
    color: #da0d0d;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    left:auto;
    cursor: pointer;
  }
</style>
</head>
<body>
<h1>List of products</h1>
<a id="schemaList" href="{% url 'schemalist' %}" target="_blank" style="text-decoration: none;"s> View Schemas</a>
<hr><br>

<table id="productList" style="width: 40%;">
</table>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/dt/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
<script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        let table = $('#productList').DataTable({
            ajax:{
                type:"GET",
                datatype: 'json',
                url: '../retrieveitems',
                dataSrc: "",
            },
            columns: [
            {data: 'pk', title: 'Sr No',
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            {data: 'product__productName', title: 'Product Name'},
            {data: null,
                title: 'View Product',
                className: 'dt-center editor-list',
                defaultContent: '<button class="list-btn"><i class="fa fa-eye"/></>',
                orderable: false
            },
        ],
        rowCallback: function (row, data) {
            $(row).data('product-id', data.pk); 
            $(row).data('product-data', data.data); 

        }
    });

    //view product
    $('#productList').on('click', 'td.editor-list button', function (e) {
        let productID = $(this).closest('tr').data('product-id');
        let productData = $(this).closest('tr').data('product-data')
        console.log(productID)
        console.log(productData)

    });
    });
</script>
</body>
</html>